<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h4>AddNewCar</h4>
    <form action="/car/add" method="POST">
        <table>

            <tr>
                <td>
                    <input type="text" name="merk" placeholder="merk">
                </td>
                <td>
                    <input type="text" name="harga" placeholder="harga">
                </td>
                <td>
                    <input type="submit" value="add"><br>
                </td>

            </tr>

        </table>
    </form>
    <br>
    <% if (data.length > 0) {%>
    <h2>All Car</h2>
    <table border="1" style="text-align: center;font-family: 'Courier New', Courier, monospace;font: 600;">
        <thead>
            <tr>
                <th>
                    merk
                </th>
                <th>
                    harga
                </th>
                <th>menu</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < data.length; i++) {%>
            <tr>
                <td><%= data[i].merk%></td>
                <td><%= data[i].harga%></td>
                <td><a href="/car/update/<%= data[i]._id%>">update</a>|<a href="/car/remove/<%= data[i]._id%>">hapus</a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } %>
</body>

</html>