<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/car/update" method="POST">
        <table>

            <tr>
                <td>
                    <input type="text" name="merk" value="<%=data.merk%>" placeholder="merk">
                </td>
                <td>
                    <input type="text" name="harga" value="<%=data.harga%>" placeholder="harga">
                    <input type="hidden" name="id" value="<%=data._id%>">
                </td>
                <td>
                    <input type="submit" value="update"><br>
                </td>

            </tr>

        </table>
    </form>
</body>

</html>